*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 6rem auto;
    max-width: 400px;
    background-color:rgb(29, 103, 146);
    padding:3rem 30px;
    color: #fff;
    text-align: center;
}

#logo{
    width: 50px;
    border-radius: 2px;
    display: block;
    margin: 1rem auto;
}

h1{
    margin: 1rem 0 0.75rem 0;
}

button{
    padding: 10px 15px;
    border-radius: 0 7px 0 7px;
    border: none;
    margin: 1rem 0 0 0;
}

button:hover{
    background-color: rgb(3, 71, 110);
    color: #fff;
    transition: 0.7s;
}